@page "/Acerca_yo"
@rendermode InteractiveServer

<PageTitle>Acercademi</PageTitle>

<div class="soft-gray-background">
<h1>Acerca de mí.</h1>

<div class="image-container">
    <img src="images/Mifoto.jpeg" alt="Mifoto" class="centered-image">
</div>

<style>
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered-image {
        max-width: 100%;
        height: auto;
    }
</style>

<br>
<center>
<p>Un gusto, mi nombre es Brander Báez Melo. Abajo de este texto dejaré mi perfil de Telegram, número de Whatsapp y correo electrónico.</p>
<br>
<a href="http://t.me/brand0z" target="blank">Link a mi Telegram.</a>
<p>Mi número de Whatsapp es:<a href="https://wa.me/18296906320">829-690-6320</a></p>
<p>Mi correo electrónico es: branderbaez02@gmail.com</p>

<h3>¿A qué me gustaría dedicarme luego del ITLA?</h3>

<p>Siempre me ha interesado la creación de las páginas web, y de las aplicaciones móviles/escritorio. Algo también que me impulsó mucho en esta carrera es la creación de videojuegos, mi meta es algún trabajar o tener un estudio de videojuegos. De hecho, tengo el hobby de modelar en 3D, ya que me gusta tener el arte en mi vida también.</p>
</center>
</div>