@page "/"

<PageTitle>Inicio</PageTitle>

<div class="soft-gray-background">
<center>
<h1>Página principal</h1>


<i>Saludos, y bienvenido a mi página de prueba realizado con Blazor 👋.</i>
<br>

<h2>¿Qué encontrarás en esta página?</h2>

<i>Solamente una pequeña práctica de tarea, ya que no soy muy conocedor de este servicio :D.</i>
<br>


<img class = "img-fluid"
src = "https://media.tenor.com/nsGNQy4ZMjEAAAAi/gato-guitarra.gif">
<br>
<h2>Frase motivadora sobre la programación:</h2>
<br>
<i>"Si puedes imaginarlo, puedes programarlo..."</i>

</center>
</div>